{% extends "layout.html" %}
{% block content %}
    <h2>Nutrition Information</h2>
    {% for info in food_info %}
        <p class=entry>
		{{ info }}
		</p>
    {% endfor %}
    <a href={{url_for('upload')}}>
        <button name="Upload">Try another image</button>
    </a>

    <form action="{{ url_for('translated') }}" method="post">
<textarea style="display:none;" name=info>{% for info in food_info_en %}{{ info }}
{% endfor %}</textarea>
        <p>Select your language:
        <select name=lang>
            {% for lang in languages %}
            <option value={{lang.language}}>{{lang.name}}</option>
            {% endfor %}
        </select>
        <input type=submit value=translate></p>
    </form>
{% endblock %}
