{% extends "layout.html" %}
{% block content %}
    <head>
        <link rel='stylesheet' href='static/css/dropzone.css'>
        <script src="../static/js/dropzone.js"></script>
        <script>
        // Generate a random filename
        var random_filename = Math.random().toString(36).slice(2).toUpperCase();

        // dropzone options
        Dropzone.options.upload= {
          maxFiles: 1,
          acceptedFiles: "image/*",
          renameFile: function (file) {
              let newName = random_filename+"."+file.name.split(".")[1];
              return newName;
          },
          dictDefaultMessage: "Drop an image file here to get started",
          init: function() {
            // redirect to /info/<image_file> to show calories info
            this.on("success", function(file) {
                window.location.replace("/info/" + random_filename+"."+file.name.split(".")[1]);
            });
            this.on("addedfile", function(file) {
                document.getElementById("message").innerHTML = "Image "+file.name+
                    " has been added. Please be patient when we are querying nutrition information..";
                document.getElementById("message").style.visibility = "visible";
            });
          }
        };
        </script>
    </head>

    <a href={{url_for('index')}}>
        <button name="Home">Home</button>
    </a>
    <h2>Upload a picture</h2>
    <div id="message" style="display:hidden;"></div>
    <form action={{url_for('submit')}} method=post enctype=multipart/form-data
      class="dropzone"
      id="upload">
    </form>
{% endblock %}
